body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px !important;
  font-weight: 100 !important;
  color: #333;
}

h2 {
  margin: 0 0 8px;
  font-size: 21px !important;
  font-weight: 400 !important;
}

header {border-bottom: 1px solid #ddd; padding: 6px 6px}
header, header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#burgerMenu {
  display: flex; flex-direction: column;
  padding: 12px;
}
#burgerMenu div {
  background: black; height: 4px; width: 22px;
  margin: 2px 0;
}

.material-symbols-outlined {
  padding: 10px;
}
header .material-symbols-outlined {
  font-size: 28px !important;
}
.avatarHolder {
  font-size: 28px;
  padding: 10px;
}
.avatar {width: 32px; border-radius: 50%; padding: 10px;}

main {
  margin: 20px;
}

.boxContainer {
  position: relative;
  padding: 20px;
  width: calc(100% - 40px); min-height: 120px;
  margin-bottom: 40px;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.targetContainer, .targetContainer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.targetContainer .icon {
  color: white;
  width: 32px; border-radius: 50%;
  padding: 0;
  height: 32px;
  margin-right: 10px;
/*   text-align: center; */
  font-size: 22px !important;
  display: flex;
  align-items: center;
  justify-content: center;
/*   background: red; */
}
.targetContainer {
  height: 45px;
/*   padding: 6px 0; */
}
.targetContainer .completedIcon {
/*   height: 20px; */
  font-size: 30px;
/*   background: yellow; */
  padding: 0;
}

.targetPlus {
/*   width: 100%; */
  color: black;
  font-size:24px;
  display: flex;
  justify-content: flex-begin;
  margin: 0 0 0 0;
/*   background: red; */
}
.targetPlus span {
  color: rgb(18, 101, 194);
  font-size: 30px !important;
}
.doughnutOuter {
  position: relative;
  height: 200px;
  width: 200px;
/*   backgroup: yellow; */
}
.doughnutRing {
  box-sizing: border-box;
  border: 1px solid #ddd;
  position: absolute;
  border-radius: 50%;
}
.doughnutRing60 {
  height: 154.92px;
  width: 154.92px;
  left: 22.54px; top: 22.54px;
}

.doughnutRing30 {
  height: 109.54px;
  width: 109.54px;
  left: 45.23px; top: 45.23px;  
}
.doughnutRing100 {
  height: 200px;
  width: 200px;
  left: 0px; top: 0px;
}
.doughnut {
  box-sizing: border-box;
  position: absolute;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  background: yellow;
}

.doughnutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.doughnutContainer .labels {
  width: 100%;
}

.doughnutContainer .targetContainer {
/*   padding: 10px 0; */
}

.chartContainer {width: 100%;} .chartContainer * {box-sizing: border-box;}

#chartPie {aspect-ratio: 1; position: relative;}

#chartPolar {aspect-ratio: 1; position: relative;}
.chartPolarRing {z-index: 100; position: absolute; border: 1px solid #ddd; aspect-ratio: 1;
border-radius: 50%;}

.chartPolarDoughnut {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  border-radius: 50%;
}

.piePercent {z-index: 200; background: red;}

.chartInner {font-family: arial; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 300; width: 120px; text-align: center; min-height: 40px; display: flex; flex-direction: column; justify-content: space-around; border-radius: 5px; border: none;
font-family: arial; font-size: 16px; padding: 6px; background: #ffffffff; border: 1px solid #ccc; display: flex; 
}
#chartPieValue, #chartPolarValue {
  font-size: 20px;
}
.chart {width: 85%; margin: 0 auto;}

#chartPolar .chartInner {
  display: none;
  top: 10%; right: 0%; transform: translate(-50%, -50%);
}

